header {
    background-color: aqua;
}

#task {
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid gray;
}

#task-form {
    margin-top: 20%;
    margin-bottom: 2%;
}

#task-field {
    padding: 10px 100px;
    border-color: grey;
}

#collection {
    margin: 20px 10px;
    
}

.btn-light {
    border: 3px solid grey;
    align-items: flex;
    padding: 10px 20px;
}

.btn-dark {
    border: 3px solid grey;
    padding: 10px 20px;
}